{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/currency.css') }}">
{% endblock %}

{% block body %}
<h1>Currencies</h1>
<form action="{{ url_for('dashboard.add_currency') }}" method="POST">
    <input type="text" name="name" placeholder="Currency Name (e.g. Dollar)" required>
    <input type="text" name="code" placeholder="Code (e.g. USD)" required>
    <button type="submit">Add Currency</button>
</form>
<table>
    <tr><th>ID</th><th>Name</th><th>Code</th><th>Active</th><th>Action</th></tr>
    {% for c in currencies %}
    <tr>
        <td>{{ c.id }}</td><td>{{ c.name }}</td><td>{{ c.code }}</td><td>{{ c.is_active }}</td>
        <td>
            <form action="{{ url_for('dashboard.toggle_currency', id=c.id, is_active=c.is_active) }}" method="POST">
                <button type="submit">{{ 'Deactivate' if c.is_active else 'Activate' }}</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}